body {
  font-family: 'myfont', Fallback, sans-serif;
  display: grid;
  grid-template-columns: 0.5fr 1.6fr 0.9fr;
  grid-template-rows: 0.4fr 2.1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header"
    "NavBar Main Image"
    "Footer Footer Footer";
  background-color: rgb(253, 252, 237);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'myfont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h2{
  font-size: 20px;
}
h3.a{
  font-size: 16px;
  text-decoration: underline;
  padding: 5px;
}


h3.b{
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 20px;
}
h3.c{
  font-size: 15px;
  text-decoration: underline;
  padding: 5px;
}


p{
  font-size: 15px;
}

.p1 {
  font-size: 14px;
  padding: 5px;
}

li{
  font-size:15px;
  margin-top: 10px;
}

a.a1 {
  color:rgb(253, 252, 237);
}

header { 
  grid-area: Header; 
  font-family: 'myfont', Fallback, sans-serif;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid grey;
}

.NavBar { 
  grid-area: NavBar; 
  padding: 20px;
  width: 200px;
  height: 340px;
  margin:10px;
  margin-top: 25px;
  background-color: #4e4d4d;
  display: flex;
  flex-direction: column;
}
.NavBar nav{
  padding:15px; 
  text-align: center;

}

.NavBar nav.a{
  padding:15px; 
  border-bottom: 1px groove;
  text-align: center;

}


.NavBar nav.b{
  padding:15px; 
  border-top: 1px groove;
  border-bottom: 1px groove;
  text-align: center;

}

main { 
  grid-area: Main; 
}

.fig { 
  grid-area: Image;
  display: inline-block;
  margin-top: 70px;
  margin-left: 30px; 
}

footer { 
  grid-area: Footer;
  border-top: 1px solid grey;

}

figcaption{
  font-size: 13px;
  font-style: italic;
}

/* unvisited link */
a.a1:link {
  color: rgb(253, 252, 237);
}

/* visited link */
a.a1:visited {
  color: rgb(206, 206, 202);
}

/* mouse over link */
a.a1:hover {
  color: hotpink;
}

/* selected link */
a.a1:active {
  color: red;
}

/* unvisited link */
a:link {
  color: rgb(16, 0, 241);
}
  
/* visited link */
a:visited {
  color: purple;
}
  
/* mouse over link */
a:hover {
  color: hotpink;
}
  
/* selected link */
a:active {
  color: red;
}
